# Core
numpy==1.26.4
pandas==2.2.2
ml-dtypes==0.3.2

# Deep Learning
tensorflow==2.16.1
keras==3.3.3

# Image & video
opencv-python==4.12.0.88
opencv-contrib-python==4.12.0.88
pillow==10.4.0
imageio==2.37.2

# Visualization
matplotlib==3.10.8

# UI
streamlit==1.52.2

# Hand tracking
mediapipe==0.10.11
